body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 16px;
    color: #696969;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
}

.main {
    margin-top: 16px;
    margin-bottom: 16px;
}

.container {
    max-width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 0 auto;
}

.markers {
    display: flex;
    align-items: center;
    column-gap: 32px;
    margin-bottom: 32px;
}

.marker-item {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.marker-color {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #696969;
}

.anna .marker-color {
    background-color: #2ecc71;
}

.juliya .marker-color {
    background-color: #e74c3c;
}

.objects-wrap {
    display: grid;
    grid-gap: 16px;
    grid-template-areas:
    "apart-3 apart-3 apart-3"
    "apart-1 apart-1 money"
    "house house none";
    margin-bottom: 32px;
}

.object {
    display: flex;
    border: 2px solid #696969;
    min-height: 150px;
    transition: background 0.3s ease;
}

.apart-3 {
    grid-area: apart-3;
}

.apart-1 {
    grid-area: apart-1;
}

.house {
    grid-area: house;
}

.money {
    grid-area: money;
}

h2 {
    margin-bottom: 8px;
}

.buttons-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
}

.btn {
    background-color: transparent;
    border: 1px solid #696969;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    padding: 8px 16px;
}

.btn:hover {
    background-color: #696969;
    color: #fff;
}

.bg-third {
    background: linear-gradient(90deg, #2ecc71 66.6%, #e74c3c 33.3%);
}

.bg-green {
    background-color: #2ecc71 !important;
}

.bg-red {
    background-color: #e74c3c !important;
}

.bg-split {
    background: linear-gradient(90deg, #2ecc71 50%, #e74c3c 50%);
}

